[submodule "activity_pub"]
	path = activity_pub
	url = https://gitlab.com/kazarma/ActivityPub.git
[submodule "matrix_app_service"]
	path = matrix_app_service
	url = https://gitlab.com/kazarma/matrix_app_service.ex.git
