<%# SPDX-FileCopyrightText: 2020-2021 The Kazarma Team
%>
<%# SPDX-License-Identifier: AGPL-3.0-only
%>

<div class="grid grid-cols-1"> <!-- lg:grid-cols-3 -->
  <KazarmaWeb.Components.Profile.show actor={@actor} conn={@conn} />
  <div class="container mx-auto col-span-2 lg:max-w-3xl px-4">
    <KazarmaWeb.Components.ActivityList.show object={@object} previous_objects={@previous_objects} actor={@actor} conn={@conn} />
  </div>
</div>
