<%# SPDX-FileCopyrightText: 2020-2021 The Kazarma Team
%>
<%# SPDX-License-Identifier: AGPL-3.0-only
%>

<div class="card shadow-lg side bg-base-100">
  <div class="card-body">
    <%= gettext("This a public Kazarma instance.") %>
  </div>
</div>

