<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Phoenix.Component.live_title suffix=" – Kazarma">
      <%= assigns[:page_title] || "Bridge Matrix and ActivityPub" %>
    </Phoenix.Component.live_title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <a class="sr-only" href="#main"><%= gettext("Skip to content") %></a>
    <a class="sr-only" href="#search_address"><%= gettext("Skip to search") %></a>
    <div class="">
      <header class="navbar sticky top-0 z-50 mb-2 shadow-lg justify-between flex-wrap bg-base-300">
        <div class="flex-none px-2 mx-2 lg:flex order-1">
          <%= link([to: Routes.index_path(@conn, :index), class: "text-2xl font-bold"],
            do: "Kazarma"
          ) %>
        </div>
        <%= if Application.get_env(:kazarma, :html_search, false) do %>
          <div class="flex-grow lg:max-w-3xl mt-0 lg:mx-auto lg:inset-x-0 order-3 lg:order-2">
            <%= form_for @conn, Routes.search_path(@conn, :search), [as: :search, class: "w-full"], fn f -> %>
              <div class="flex flex-row items-center justify-between">
                <div class="flex-1 m-2">
                  <div class="form-control relative">
                    <%= text_input(f, :address,
                      aria_label: gettext("Matrix or ActivityPub username, or ActivityPub ID"),
                      placeholder:
                        gettext(
                          "@alice:matrix.org / bob@mastodon.social / https://mastodon.social/users/bob"
                        ),
                      required: true,
                      class:
                        "peer text-base transition-all w-full placeholder-shown:h-28 focus:h-28 h-28 sm:placeholder-shown:h-20 sm:focus:h-20 sm:h-20 lg:placeholder-shown:h-10 lg:focus:h-16 lg:h-16 placeholder-shown:pt-4 focus:pt-8 pt-8 lg:placeholder-shown:pt-2 lg:focus:pt-4 lg:pt-4 input input-bordered border-opacity-80 placeholder-transparent"
                    ) %>
                    <label
                      for="search_address"
                      class="absolute transition-all left-4 top-1.5 peer-focus:top-1.5 text-xs peer-focus:text-xs peer-placeholder-shown:cursor-text peer-placeholder-shown:top-1 lg:peer-placeholder-shown:top-2 peer-placeholder-shown:text-base"
                    >
                      <%= gettext(
                        "@alice:matrix.org / bob@mastodon.social / https://mastodon.social/users/bob"
                      ) %>
                    </label>
                  </div>
                </div>
                <div class="flex-none">
                  <%= submit(
                    [
                      aria_label: gettext("Search"),
                      title: gettext("Search"),
                      class: "btn btn-outline"
                    ],
                    do: KazarmaWeb.IconView.search_icon()
                  ) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="flex-none px-2 mx-2 lg:flex order-3 lg:order-3">
          <%= link(
            [
              to: "https://gitlab.com/kazarma/kazarma",
              target: "_blank",
              aria_label: gettext("GitLab repository"),
              title: gettext("GitLab repository"),
              class: "text-2xl font-bold"
            ],
            do: KazarmaWeb.IconView.gitlab_icon()
          ) %>
        </div>
      </header>
      <main role="main" id="main" class="w-full py-6">
        <!-- <main role="main" id="main" class="w-full container mx-auto py-6 flex flex-col lg:flex-row"> -->
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
